@page "/contact"
@rendermode InteractiveServer

<MudText Typo="Typo.h6" GutterBottom="true">Kontakta oss!</MudText>

<MudText Class="mb-8">
	Är du intresserad av att bli medlem eller vill veta mer? <br /> 
	skicka ett mail till: <a href="mailto:info@trollhattansfotoklubb.se" style="color:darkcyan" >info@trollhattansfotoklubb.se</a>
</MudText>

<MudText Class="mb-2" Typo="Typo.subtitle1">
	För mer specifika frågor.
</MudText>
<MudList Dense="true">
	<MudListItem>Ordförande: <a href="mailto:ordforande@trollhattansfotoklubb.se" style="color:darkcyan">ordforande@trollhattansfotoklubb.se</a> </MudListItem>
	<MudListItem>Kassör: <a href="mailto:kassor@trollhattansfotoklubb.se" style="color:darkcyan">kassor@trollhattansfotoklubb.se</a></MudListItem>
	<MudListItem>Webmaster: <a href="mailto:webmaster@trollhattansfotoklubb.se" style="color:darkcyan">webmaster@trollhattansfotoklubb.se</a></MudListItem>
</MudList>


@code {

}
