@page "/manage/posts"

@rendermode InteractiveServer

@using MudBlazorServerWebApp.Data
@using MudBlazorServerWebApp.Components.Pages.Shared
@using Microsoft.AspNetCore.Authorization
@using System

@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "admin")]

<h1>Posts, News, and so on...</h1>
